## Final Project

Lydia Holley

BINF-6112-001

04/06/2023

lholley4@uncc.edu

In [85]:
import pandas as pd
import numpy as np

# Part 1: College Rankings

Examine the following pages and rankings:

https://www.usnews.com/best-colleges

https://www.princetonreview.com/college-rankings/best-colleges

https://www.forbes.com/top-colleges/

Your goal in this part of the assignment is to examine the methodology of these rankings and attempt to recreate it with the scorecard data. Your process should be well justified and presented through the use of markdowns

## describing Part 1

For part one I will emulate the methodology from the Forbes article because:
    the US News methodology has too many discrepancies from our data
    the princeton methodology does not contain a cohesive "best" list in order
    
the forbes method uses the following criteria (adjusted using US News criteria to fit available data):
1. Alumni Salary (20%)
    - MD_EARN_WNE_P10
2. Debt (15%) 
    - GRAD_DEBT_MDN
3. Graduation Rate (15%) 
    - OMAWDP6_FTFT
4. High School Performance (8%)
    - "SATVRMID","SATMTMID","SATWRMID","ACTCMMID"
5. Percent Full Time Faculty (2%)
    - PFTFAC
6. Faculty Salary (10%) 
    - AVGFACSAL
7. Retention Rate (15%) 
    - RET_FT4
8. proportion in debt (10%)
    - FTFTPCTFLOAN
9. Pell Graduation Rate (5%)
    - OMAWDP8_PELL_FTFT

In [214]:
#create function to get scores - user inputs file and the rest is completed for them
def forbesRank(fileName):
    
    #import the file
    colleges = pd.read_csv(fileName)
    
    #create the table with relevent data called "forbes"
    #drop NaN values and set index as the university names
    #make sure all data is float so you can do computational methods on them
    #initialize a new dataFrame called score
    forbes = colleges[["INSTNM","MD_EARN_WNE_P10","GRAD_DEBT_MDN","OMAWDP6_FTFT","SATVRMID","SATMTMID","SATWRMID","ACTCMMID","PFTFAC","AVGFACSAL","RET_FT4","FTFTPCTFLOAN","OMAWDP8_PELL_FTFT"]].replace("PrivacySuppressed",np.nan).dropna().set_index('INSTNM')
    forbes = forbes.astype(float)
    score = forbes
    
    #loop through the columns, find max value of each column
    #create new column for each category with the original value divided by the max value
    for column in forbes:
        maximum = forbes[column].max()
        if column == "MD_EARN_WNE_P10":
            score = score.assign(Alumni_Salary=score[column]/maximum)
        elif column == "GRAD_DEBT_MDN":
            score = score.assign(Debt=score[column]/maximum)
        elif column == "OMAWDP6_FTFT":
            score = score.assign(Grad_Rate=score[column]/maximum)
        elif column == "SATVRMID":
            score = score.assign(SAT_Reading=score[column]/maximum)
        elif column == "SATMTMID":
            score = score.assign(SAT_Math=score[column]/maximum)
        elif column == "SATWRMID":
            score = score.assign(SAT_Writing=score[column]/maximum)
        elif column == "ACTCMMID":
            score = score.assign(ACT_Comp=score[column]/maximum)
        elif column == "PFTFAC":
            score = score.assign(Pct_Fac=score[column]/maximum)
        elif column == "AVGFACSAL":
            score = score.assign(Fac_Salary=score[column]/maximum)
        elif column == "RET_FT4":
            score = score.assign(Ret_Rate=score[column]/maximum)
        elif column == "FTFTPCTFLOAN":
            score = score.assign(Pct_Loan=score[column]/maximum)
        elif column == "OMAWDP8_PELL_FTFT":
            score = score.assign(Pell_Grad_Rate=score[column]/maximum)
    
    #get scores by adding the proportion multiplied the weight for each category
    #the ones related to debt are 1 - debt proportion because debt is undesirable, thus leading to a lower score
    score = score.assign(Score=(score["Alumni_Salary"]*0.20) + ((1 - score["Debt"])*0.15) + (score["Grad_Rate"]*0.15) + (score["SAT_Reading"]*0.02) + (score["SAT_Math"]*0.02) + (score["SAT_Writing"]*0.02) + (score["ACT_Comp"]*0.02) + (score["Pct_Fac"]*0.02) + (score["Fac_Salary"]*0.10) + (score["Ret_Rate"]*0.15) + ((1 - score["Pct_Loan"])*0.10) + (score["Pell_Grad_Rate"]*0.05))
    
    #keep only relevent data
    score = score[["MD_EARN_WNE_P10","GRAD_DEBT_MDN","OMAWDP6_FTFT","SATVRMID","SATMTMID","SATWRMID","ACTCMMID","PFTFAC","AVGFACSAL","RET_FT4","FTFTPCTFLOAN","OMAWDP8_PELL_FTFT","Score"]]
    
    #add rank
    score['rank']=score['Score'].rank(ascending=False)
    rank = score.sort_values(by='rank',ascending=True)
    
    #return dataFrame
    return rank

In [215]:
#check if function worked
forbes_score = forbesRank("Most-Recent-Cohorts-Institution.csv")

/var/folders/n6/gbphvvd12sq8410bcnt0m5pc0000gn/T/ipykernel_26134/612610795.py:5: DtypeWarning: Columns (9,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1604,1605,1606,1608,1609,1610,1611,1612,1613,1614,1615,1616,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1636,1638,1640,1643,1644,1648,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1664,1666,1669,1670,1674,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1695,1697,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1844,1845,1846,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1908,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,1988,1989,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2958) have mixed types. Specify dtype option on import or set low_memory=False.
  colleges = pd.read_csv(fileName)

In [219]:
forbes_score = forbes_score[["MD_EARN_WNE_P10","GRAD_DEBT_MDN","OMAWDP6_FTFT","RET_FT4","FTFTPCTFLOAN","Score","rank"]]
forbes_score[:10]

,MD_EARN_WNE_P10,GRAD_DEBT_MDN,OMAWDP6_FTFT,RET_FT4,FTFTPCTFLOAN,Score,rank
INSTNM,,,,,,,
Massachusetts Institute of Technology,111222.0,13418.0,0.9416,0.9764,0.0735,0.885531,1.0
California Institute of Technology,112166.0,17747.0,0.9202,0.9362,0.0426,0.867093,2.0
Princeton University,95689.0,10450.0,0.9638,0.8330,0.0210,0.861268,3.0
Stanford University,97798.0,12000.0,0.9438,0.8575,0.0612,0.859069,4.0
University of Pennsylvania,103246.0,16763.0,0.9549,0.9499,0.1141,0.842963,5.0
Harvard University,84918.0,12665.0,0.9777,0.7567,0.0261,0.831660,6.0
Duke University,93115.0,13500.0,0.9562,0.9688,0.1883,0.831511,7.0
University of Chicago,76730.0,14601.0,0.9416,0.9965,0.0643,0.821084,8.0
Rice University,77683.0,12000.0,0.9471,0.9666,0.0916,0.817893,9.0
Johns Hopkins University,83287.0,12750.0,0.9299,0.9651,0.1464,0.813497,10.0

## Results: Part 1


According to my rendition of their methodology the top 5 schools are:
- 1. Massachusetts Institute of Technology
- 2. California Institute of Technology	
- 3. Princeton University	
- 4. Stanford University
- 5. University of Pennsylvania	
- 6-10. Harvard University, Duke University, University of Chicago, Rice University, Johns Hopkins University		

Top ten from the forbes list is:
- 1. Massachusetts Institute of Technology
- 2. Stanford University
- 2. University of California, Berkely
- 4. Princeton University
- 5. Columbia University
- 6-10. University of California LA, Williams College, Yale University, Duke University, University of Pennsylvania

My rendition of the methodology seems to have been pretty accurate. Many of the same schools on these lists and the top school is the same as well. I would guess the differences come from the missing data from the forbes list (I imagine this is the criteria that ensures the 'correct' schools stay on top).

# Part 2: New Ranking systems
    
It should not be a surprise to anyone that there are.. limitations to how these rankings are determined. They have a narrow focus that centers around a predetermined result (the top schools must always remain the top schools). In this section, you will determine your own ranking system using the aspects of colleges that are important to you. In a markdown cell, tell me what factors are important to you and why, then rerun the rankings. Display the new results and contrast them with the results of Part 1.

## describing Part 2

The following available data is important to me if i were looking for a college and why:
1. Alumni Salary - 20%
    - MD_EARN_WNE_P10
    - This inidcates how well the school prepares students for life after academia
2. Debt - 20%
    - GRAD_DEBT_MDN
    - this indicates how affordable to school is, the impact of their financial aid, and the ability of students to afford the level of debt given to the students
3. Graduation Rate - 15%
    - OMAWDP6_FTFT
    - this is important because graduating is the goal
4. Retention Rate - 15%
    - RET_FT4
    - retention rate is super important because it means that students like the school enough to return the following years
5. Under ED Monitoring - 10%
    - HCM2
    - it is a bad sign if this is true, so this is important as well. 
    - I will consider being under ED as a 0 
    - not being under monitoring as a 1 
        - will have to do (1 - HCM2) for this
6. Proportion in Debt - 10%
    - FTFTPCTFLOAN
    - this is important because the lower this is the more likely students are to be getting aid besides just loans
7. Faculty Salary - 10%
    - AVGFACSAL
    - this is important because well payed faculty will care more about their jobs

In [208]:
#create function to get scores - user inputs file and the rest is completed for them
def myRank(fileName):
    
    #import the file
    colleges = pd.read_csv(fileName)
    
    #create the table with relevent data called "forbes"
    #drop NaN values and set index as the university names
    #make sure all data is float so you can do computational methods on them
    #initialize a new dataFrame called score
    rank = colleges[["INSTNM","MD_EARN_WNE_P10","GRAD_DEBT_MDN","OMAWDP6_FTFT","RET_FT4","HCM2","FTFTPCTFLOAN","AVGFACSAL"]].replace("PrivacySuppressed",np.nan).dropna().set_index('INSTNM')
    rank = rank.astype(float)
    score = rank
    
    #loop through the columns, find max value of each column
    #create new column for each category with the original value divided by the max value
    for column in rank:
        maximum = rank[column].max()
        if column == "MD_EARN_WNE_P10":
            score = score.assign(Alumni_Salary=score[column]/maximum)
        elif column == "GRAD_DEBT_MDN":
            score = score.assign(Debt=score[column]/maximum)
        elif column == "OMAWDP6_FTFT":
            score = score.assign(Grad_Rate=score[column]/maximum)
        elif column == "RET_FT4":
            score = score.assign(Ret_Rate=score[column]/maximum)
        elif column == "HCM2":
            score = score.assign(ED_Mon=score[column])
        elif column == "FTFTPCTFLOAN":
            score = score.assign(Pct_Loan=score[column]/maximum)
        elif column == "AVGFACSAL":
            score = score.assign(Fac_Sal=score[column]/maximum)
    
    #get scores by adding the proportion multiplied the weight for each category
    #the ones related to debt are 1 - debt proportion because debt is undesirable, thus leading to a lower score
    score = score.assign(Score=(score["Alumni_Salary"]*0.20) + ((1 - score["Debt"])*0.20) + (score["Grad_Rate"]*0.15) + (score["Ret_Rate"]*0.15) + ((1 - score["ED_Mon"])*0.10) + ((1 - score["Pct_Loan"])*0.10) + (score["Fac_Sal"]*0.10))
    
    #keep only relevent data
    score = score[["MD_EARN_WNE_P10","GRAD_DEBT_MDN","OMAWDP6_FTFT","RET_FT4","HCM2","FTFTPCTFLOAN","AVGFACSAL","Score"]]
    
    #add rank
    score['rank']=score['Score'].rank(ascending=False)
    rank = score.sort_values(by='rank',ascending=True)
    
    #return dataFrame
    return rank

In [209]:
#check if function worked
my_score = myRank("Most-Recent-Cohorts-Institution.csv")

/var/folders/n6/gbphvvd12sq8410bcnt0m5pc0000gn/T/ipykernel_26134/876995197.py:5: DtypeWarning: Columns (9,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1604,1605,1606,1608,1609,1610,1611,1612,1613,1614,1615,1616,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1636,1638,1640,1643,1644,1648,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1664,1666,1669,1670,1674,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1695,1697,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1844,1845,1846,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1908,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,1988,1989,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2958) have mixed types. Specify dtype option on import or set low_memory=False.
  colleges = pd.read_csv(fileName)

In [213]:
my_score[:10]

,MD_EARN_WNE_P10,GRAD_DEBT_MDN,OMAWDP6_FTFT,RET_FT4,HCM2,FTFTPCTFLOAN,AVGFACSAL,Score,rank
INSTNM,,,,,,,,,
Massachusetts Institute of Technology,111222.0,13418.0,0.9416,0.9764,0.0,0.0735,19640.0,0.884795,1.0
Princeton University,95689.0,10450.0,0.9638,0.8330,0.0,0.0210,20835.0,0.866482,2.0
California Institute of Technology,112166.0,17747.0,0.9202,0.9362,0.0,0.0426,20228.0,0.864864,3.0
Stanford University,97798.0,12000.0,0.9438,0.8575,0.0,0.0612,20971.0,0.860514,4.0
University of Pennsylvania,103246.0,16763.0,0.9549,0.9499,0.0,0.1141,18702.0,0.848427,5.0
Duke University,93115.0,13500.0,0.9562,0.9688,0.0,0.1883,16663.0,0.832709,6.0
Harvard University,84918.0,12665.0,0.9777,0.7567,0.0,0.0261,21143.0,0.832667,7.0
University of Chicago,76730.0,14601.0,0.9416,0.9965,0.0,0.0643,18432.0,0.826223,8.0
Rice University,77683.0,12000.0,0.9471,0.9666,0.0,0.0916,16378.0,0.822355,9.0
Franklin W Olin College of Engineering,132969.0,15846.0,0.9259,0.8118,0.0,0.3294,12021.0,0.818749,10.0

## Results: Part 2

According to my rendition of the forbes methodology the top 10 schools are:
- 1. Massachusetts Institute of Technology
- 2. California Institute of Technology	
- 3. Princeton University	
- 4. Stanford University
- 5. University of Pennsylvania	
- 6-10. Harvard University, Duke University, University of Chicago, Rice University, Johns Hopkins University		

Top ten from the forbes list is:
- 1. Massachusetts Institute of Technology
- 2. Stanford University
- 2. University of California, Berkely
- 4. Princeton University
- 5. Columbia University 
- 6-10. University of California LA, Williams College, Yale University, Duke University, University of Pennsylvania

#### Top 10 from my own methodology:
- 1. Massachusetts Institute of Technology
- 2. Princeton University
- 3. California Institute of Technology
- 4. Stanford University
- 5. University of Pennsylvania
- 6-10. Duke University, Harvard University, University of Chicago, Rice University, Franklin W Olin College of Engineering	

My methodology seems to was closer to the rendition I did of forbes than the actual forbes list as well. Many of the same schools on these lists and the top school is the same as well. I would guess the differences come from the missing data from the forbes list (I imagine this is the criteria that ensures the 'correct' schools stay on top) for the forbes ranking. The difference between my rendition of forbes and my own methodology was the inclusion of ED Monitoring and the exclusion of some data like high school rankings.

# Part 3: Program rankings
    
Using your two ranking systems, apply that methodology (as closely as you can) to individual programs of study. You can choose Bioinformatics programs if you want, but if you want to pick something else that's also fine. Display and contrast the results.

## describing part 3

the forbes method uses the following criteria (with our equivalent listed below it):
1. Alumni Salary (20%)
    - MD_EARN_WNE_P10
        - Field of Study Median Earnings
        - EARN_MDN_4YR
2. Debt (15%) 
    - GRAD_DEBT_MDN
        - Field of Study Median Total Debt for All Federal Loans
        - DEBT_ALL_STGP_ANY_MDN
3. Graduation Rate (15%) 
    - OMAWDP6_FTFT
        - Field of Study Number of Graduates
        - IPEDSCOUNT2
4. High School Performance (8%)
    - "SATVRMID","SATMTMID","SATWRMID","ACTCMMID"
        - no equivalent
5. Percent Full Time Faculty (2%)
    - PFTFAC
        - no equivalent
6. Faculty Salary (10%) 
    - AVGFACSAL
        - no equivalent
7. Retention Rate (15%) 
    - RET_FT4
        - no equivalent
8. proportion in debt (10%)
    - FTFTPCTFLOAN
        - BBRR4_FED_COMP_N
9. Pell Graduation Rate (5%)
    - OMAWDP8_PELL_FTFT  
        - no equivalent

#### for part 3 I will use the following criteria and weights (only one bc not enough data to differentiate a forbes and personal ranking):
1. Alumni Salary (30%)
    - MD_EARN_WNE_P10
        - Field of Study Median Earnings
        - EARN_MDN_4YR
2. Debt (30%) 
    - GRAD_DEBT_MDN
        - Field of Study Median Total Debt for All Federal Loans
        - DEBT_ALL_STGP_ANY_MDN
3. Graduation Rate (20%) 
    - OMAWDP6_FTFT
        - Field of Study Number of Graduates
        - IPEDSCOUNT2
8. proportion in debt (20%)
    - FTFTPCTFLOAN
        - BBRR4_FED_COMP_N

In [206]:
#create function to get scores - user inputs file and the rest is completed for them
def fosRank(fileName):
    
    #import the file
    colleges = pd.read_csv(fileName)
    
    #create the table with relevent data called "fos"
    #drop NaN values 
    #make sure all data is float so you can do computational methods on them
    #initialize a new dataFrame called score
    fos = colleges[["INSTNM","CIPCODE","CIPDESC","EARN_MDN_4YR","DEBT_ALL_STGP_ANY_MDN","IPEDSCOUNT2","BBRR4_FED_COMP_N"]].replace("PrivacySuppressed",np.nan).dropna()
    score = fos
    
    #loop through the columns, find max value of each column
    #create new column for each category with the original value divided by the max value
    for column in fos:
        if column == "EARN_MDN_4YR":
            maximum = fos[column].astype(float).max()
            score = score.assign(Alumni_Salary=score[column].astype(float)/maximum)
        elif column == "DEBT_ALL_STGP_ANY_MDN":
            maximum = fos[column].astype(float).max()
            score = score.assign(Debt=score[column].astype(float)/maximum)
        elif column == "IPEDSCOUNT2":
            maximum = fos[column].astype(float).max()
            score = score.assign(Grad_Rate=score[column].astype(float)/maximum)
        elif column == "BBRR4_FED_COMP_N":
            maximum = fos[column].astype(float).max()
            score = score.assign(Prop_Debt=score[column].astype(float)/maximum)
        else:
            continue
    
    #get scores by adding the proportion multiplied the weight for each category
    #the ones related to debt are 1 - debt proportion because debt is undesirable, thus leading to a lower score
    score = score.assign(Score=(score["Alumni_Salary"]*0.30) + ((1 - score["Debt"])*0.30) + (score["Grad_Rate"]*0.20) + ((1 - score["Prop_Debt"])*0.20))
    
    #keep only relevent data
    score = score[["INSTNM","CIPCODE","CIPDESC","EARN_MDN_4YR","DEBT_ALL_STGP_ANY_MDN","IPEDSCOUNT2","BBRR4_FED_COMP_N","Score"]]
    
    #add rank
    score['rank']=score['Score'].rank(ascending=False)
    rank = score.sort_values(by='rank',ascending=True)

    #return dataFrame
    return rank

In [229]:
fos = fosRank("Most-Recent-Cohorts-Field-of-Study.csv")

In [236]:
comp_sci = fos[fos["CIPDESC"] == "Computer Science."]
comp_sci['cs_rank']=comp_sci['rank'].rank(ascending=True)
comp_sci[:10]

/var/folders/n6/gbphvvd12sq8410bcnt0m5pc0000gn/T/ipykernel_26134/1192220449.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comp_sci['cs_rank']=comp_sci['rank'].rank(ascending=True)

,INSTNM,CIPCODE,CIPDESC,EARN_MDN_4YR,DEBT_ALL_STGP_ANY_MDN,IPEDSCOUNT2,BBRR4_FED_COMP_N,Score,rank,cs_rank
158949,Brown University,1107,Computer Science.,218525,11500,229.0,46,0.708939,2.0,1.0
198934,Stanford University,1107,Computer Science.,200950,10399,307.0,40,0.695224,3.0,2.0
149017,Carnegie Mellon University,1107,Computer Science.,247552,21442,237.0,84,0.691655,5.0,3.0
79519,Massachusetts Institute of Technology,1107,Computer Science.,199774,12000,424.0,68,0.687458,7.0,4.0
12039,University of California-Berkeley,1107,Computer Science.,178867,13900,845.0,131,0.660210,11.0,5.0
113069,Cornell University,1107,Computer Science.,185679,14698,396.0,149,0.654051,12.0,6.0
126071,Duke University,1107,Computer Science.,159845,13500,339.0,83,0.629069,15.0,7.0
167643,Vanderbilt University,1107,Computer Science.,164139,14500,147.0,21,0.626076,17.0,8.0
155114,University of Pennsylvania,1107,Computer Science.,146438,13500,107.0,17,0.609042,25.0,9.0
17454,Harvey Mudd College,1107,Computer Science.,183524,22949,47.0,46,0.602781,30.0,10.0

In [234]:
comp_sci[comp_sci["INSTNM"] == "University of North Carolina at Charlotte"]

,INSTNM,CIPCODE,CIPDESC,EARN_MDN_4YR,DEBT_ALL_STGP_ANY_MDN,IPEDSCOUNT2,BBRR4_FED_COMP_N,Score,rank,cs_rank
128723,University of North Carolina at Charlotte,1107,Computer Science.,82583,23250,539.0,282,0.484963,4730.0,142.0

## Results: Part 3

Top 10 Computer Science programs from this own methodology:
- 1. Brown University
- 2. Stanford University
- 3. Carnegie Mellon University
- 4. Massachusetts Institute of Technology
- 5. University of California-Berkeley
- 6-10. Cornell University, Duke University, Vanderbilt University, University of Pennsylvania, Harvey Mudd College	

UNCC rank for the Computer Science programs:
- 142. University of North Carolina at Charlotte

I was going to do bioinformatics, but there is no data on that program, so I chose Computer Science. The top ten Comp Sci schools have some overlap between the top ten from the other methodologies/ranks. UNCC is actually in the bottom half of the chosen criteria for this program (142 out of 247). This appears to be because the salary of graudates is much lower and the number of students in debt/amount of debt is much higher.

# Part 4: Summarizing results
    
Finally, pick an institution that matters to you in some way. UNC Charlotte or where you did your undergrad are good choices, but you don't necessarily have to choose those. Where did that school fall in your ranking systems? If it was low in the rankings, what factors caused it to be? What steps could that institution take to improve its rankings? You can use past data as well to show how that institution is improving or failing to improve.

## part 4 description

I was going to choose George Mason University because that is where I went to undergrad, but it must have some NaN datatypes and was removed from the data frames. Instead I will choose UNCC for this.

In [220]:
forbes_score.loc[['University of North Carolina at Charlotte']]

,MD_EARN_WNE_P10,GRAD_DEBT_MDN,OMAWDP6_FTFT,RET_FT4,FTFTPCTFLOAN,Score,rank
INSTNM,,,,,,,
University of North Carolina at Charlotte,52252.0,21668.0,0.5842,0.8472,0.5099,0.553174,206.0

In [221]:
my_score.loc[['University of North Carolina at Charlotte']]

,MD_EARN_WNE_P10,GRAD_DEBT_MDN,OMAWDP6_FTFT,RET_FT4,HCM2,FTFTPCTFLOAN,AVGFACSAL,Score,rank
INSTNM,,,,,,,,,
University of North Carolina at Charlotte,52252.0,21668.0,0.5842,0.8472,0.0,0.5099,9886.0,0.599065,419.0

In [222]:
my_score

,MD_EARN_WNE_P10,GRAD_DEBT_MDN,OMAWDP6_FTFT,RET_FT4,HCM2,FTFTPCTFLOAN,AVGFACSAL,Score,rank
INSTNM,,,,,,,,,
Massachusetts Institute of Technology,111222.0,13418.0,0.9416,0.9764,0.0,0.0735,19640.0,0.884795,1.0
Princeton University,95689.0,10450.0,0.9638,0.8330,0.0,0.0210,20835.0,0.866482,2.0
California Institute of Technology,112166.0,17747.0,0.9202,0.9362,0.0,0.0426,20228.0,0.864864,3.0
Stanford University,97798.0,12000.0,0.9438,0.8575,0.0,0.0612,20971.0,0.860514,4.0
University of Pennsylvania,103246.0,16763.0,0.9549,0.9499,0.0,0.1141,18702.0,0.848427,5.0
...,...,...,...,...,...,...,...,...,...
Bacone College,36274.0,29375.0,0.1026,0.4237,1.0,0.5342,4560.0,0.279633,1806.0
Arkansas Baptist College,26710.0,26375.0,0.1679,0.4286,1.0,0.6517,4303.0,0.275274,1807.0
South University-Austin,36710.0,25379.0,0.1250,0.2857,1.0,0.7778,6365.0,0.263725,1808.0
The Art Institute of Atlanta,34110.0,30750.0,0.1409,0.4545,1.0,0.7973,5353.0,0.258472,1809.0
Martin University,27347.0,41604.0,0.0417,0.2000,0.0,0.9000,4950.0,0.237983,1810.0

## Results: Part 4

UNCC rank from the forbes list is:
- 252. University of North Carolina, Charlotte

According to my rendition of the forbes methodology the UNCC rank is:
- 206. University of North Carolina at Charlotte	

UNCC rank from my own methodology:
- 419. University of North Carolina at Charlotte	

UNCC did the best on my rendition of the forbes methodology and did the worst with my own methodology. The places where UNCC could improve are graduation rate, faculty salary, and improve the financial aid packages so fewer students require loans and accumulate less debt. The graduation rate is very low and the amount of debt is very high.

In [ ]:
table.shape()
(row,column)